<div th:fragment="newSection">
	<form action="#" th:action="@{/safebusiness/addSection/{string}(string=${section.stringId} == null ? 'new' : ${section.stringId})}" th:object="${section}" method="post" id="sb-new-section">
		<div class="form-row">
			<div class="form-group col-sm-6">
				<label for="name">Section Name:</label>
				
				<input type="text" th:field="*{name}" placeholder="Section Name" class="form-control" />
			</div>
		</div>
		
		<div class="form-row">
			<div class="form-group col-sm-6">
				<label for="child-sections">Child Section Queue:</label>
				
				<div>
					<ul id="child-section-queue"></ul>
				</div>
				
				<input type="button" value="Add Child Section" onclick="showAutocompleteDialog('add-child-sec-dialog', 'section', 'child-section-queue', 'child-sectionss')">
				
				<div id="add-child-sec-dialog" class="dialog-with-autocomplete-widget" title="Add Child Section">
					<input id="autocomplete" class="autocomplete" type="text" placeholder="Lookup Child section" />
				</div>
				
				<br/>
									
				<input type="hidden" id="child-sectionss" th:field="*{childrenCommaSeparatedList}" placeholder="Comma seperated list of child section's names" class="form-control" />
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-sm-6">
				<label for="child-sections">Article Queue:</label>
				
				<div>
					<ul id="article-queue"></ul>
				</div>
				
				<input type="button" value="Add Article" onclick="showAutocompleteDialog('add-article-dialog', 'article', 'article-queue', 'articles')">
				
				<div id="add-article-dialog" class="dialog-with-autocomplete-widget" title="Add Article">
					<input id="autocomplete" class="autocomplete" type="text" placeholder="Lookup Article" />
				</div>
				
				<br/>
				
				<input type="hidden"  id="articles" th:field="*{articleCommaSeparatedList}" placeholder="Comma seperated list of articles numbers" class="form-control" />
			</div>
		</div>
		<div class="form-row" th:if="${inViewMode} == true">
			<div class="form-group col-sm-6">
				<label for="child-sections">Articles:</label>
				<div th:insert="fragments/listArticles.html :: listarticles"></div>
			</div>
		</div>
		<div class="form-row" th:if="${inViewMode} == true">
			<div class="form-group col-sm-6">
				<label for="child-sections">Subsections:</label>
				<div th:insert="fragments/listSections.html :: listsections"></div>
			</div>
		</div>
		<div class="form-row">
			<div>
			  <button id="sb-cancel" type="button" class="btn btn-danger">Cancel</button>
			  <button id="sb-submit" type="button" class="btn btn-success">Save</button>
			</div>

		</div>
	</form>
	<script type="text/javascript">
		$('#sb-submit').click( function() {
			$('#sb-new-section').submit();
		});
		$('#sb-cancel').click(function(){
			window.location.href='/safebusiness/index';
		});
	</script>
	<script src="/js/common-utils.js"></script>
</div>