<div th:fragment="newSection">
	<form action="#" th:action="@{/safebusiness/addSection/{string}(string=${section.stringId} == null ? 'new' : ${section.stringId})}" th:object="${section}" method="post" id="sb-new-section">
		<div class="form-row">
			<div class="form-group col-sm-6">
				<label for="name">Section Name:</label>
				
				<input type="text" th:field="*{name}" placeholder="Section Name" class="form-control" />
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-sm-6">
				<label for="actid">ActID:</label>
				
				<input type="number" th:field="*{actId}" placeholder="ActID" class="form-control" />
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-sm-6">
				<label for="child-sections">Add child sections:</label>
				<input type="text" id="child-sectionss" th:field="*{childrenCommaSeparatedList}" placeholder="Comma seperated list of child section's names" class="form-control" />
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-sm-6">
				<label for="child-sections">Add Articles:</label>
				<input type="text"  th:field="*{articleCommaSeparatedList}" placeholder="Comma seperated list of articles numbers" class="form-control" />
			</div>
		</div>
		<div class="form-row" th:if="${inViewMode} == true">
			<div class="form-group col-sm-6">
				<label for="child-sections">Articles:</label>
				<div th:insert="fragments/listArticles.html :: listarticles"></div>
			</div>
		</div>
		<div class="form-row" th:if="${inViewMode} == true">
			<div class="form-group col-sm-6">
				<label for="child-sections">Subsections:</label>
				<div th:insert="fragments/listSections.html :: listsections"></div>
			</div>
		</div>
		<div class="form-row">
			<div>
			  <button id="sb-cancel" type="button" class="btn btn-danger">Cancel</button>
			  <button id="sb-submit" type="button" class="btn btn-success">Save</button>
			</div>

		</div>
	</form>
	<script type="text/javascript">
		$('#sb-submit').click( function() {
			$('#sb-new-section').submit();
		});
		$('#sb-cancel').click(function(){
			window.location.href='/safebusiness/index';
		});
	</script>
</div>