<div th:fragment="sidebar">
	    <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
	<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/safebusiness/index">
        <div class="sidebar-brand-icon rotate-n-15">
        </div>
        <div class="sidebar-brand-text mx-3">Tebakufela</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Manage Metadata
      </div>
      
	  <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDocuments" aria-expanded="true" aria-controls="collapseDocuments">
          <i class="fas fa-fw fa-cog"></i>
          <span>Manage Documents</span>
        </a>
        <div id="collapseDocuments" class="collapse" aria-labelledby="collapseDocuments" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Actions:</h6>
            <a class="collapse-item" href="/safebusiness/newDocument">Create Document</a>
            <a class="collapse-item" href="/safebusiness/listDocuments">View Documents</a>
          </div>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProcess" aria-expanded="true" aria-controls="collapseProcess">
          <i class="fas fa-fw fa-cog"></i>
          <span>Manage Processes</span>
        </a>
        <div id="collapseProcess" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Actions:</h6>
            <a class="collapse-item" href="/safebusiness/procedure/new">Create Process</a>
            <a class="collapse-item" href="/safebusiness/listProcesses">View Processes</a>
          </div>
        </div>
      </li>

	  <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProcedure" aria-expanded="true" aria-controls="collapseProcedure">
          <i class="fas fa-fw fa-cog"></i>
          <span>Manage Procedures</span>
        </a>
        <div id="collapseProcedure" class="collapse" aria-labelledby="collapseProcedure" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Acts:</h6>
            <a class="collapse-item" href="/safebusiness/procedure/new">New Procedure</a>
            <a class="collapse-item" href="/safebusiness/listProcedures">View Procedures</a>
          </div>
        </div>
      </li>
      
	  <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAttribute" aria-expanded="true" aria-controls="collapseAttribute">
          <i class="fas fa-fw fa-cog"></i>
          <span>Manage Attributes</span>
        </a>
        <div id="collapseAttribute" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Actions:</h6>
            <a class="collapse-item" href="/safebusiness/attributeType/new">New AttributeType</a>
            <a class="collapse-item" href="/safebusiness/listAttributeTypes">View AttributeTypes</a>
          </div>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseArticle" aria-expanded="true" aria-controls="collapseArticle">
          <i class="fas fa-fw fa-cog"></i>
          <span>Manage Articles</span>
        </a>
        <div id="collapseArticle" class="collapse" aria-labelledby="collapseArticle" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Actions:</h6>
            <a class="collapse-item" href="/safebusiness/article/new">New Article</a>
            <a class="collapse-item" href="/safebusiness/listArticles">View Articles</a>
          </div>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSection" aria-expanded="true" aria-controls="collapseSection">
          <i class="fas fa-fw fa-cog"></i>
          <span>Manage Sections</span>
        </a>
        <div id="collapseSection" class="collapse" aria-labelledby="collapseSection" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Sections:</h6>
            <a class="collapse-item" href="/safebusiness/section/new">New Section</a>
            <a class="collapse-item" href="/safebusiness/listSections">View Sections</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAction" aria-expanded="true" aria-controls="collapseAction">
          <i class="fas fa-fw fa-cog"></i>
          <span>Manage Actions</span>
        </a>
        <div id="collapseAction" class="collapse" aria-labelledby="collapseAction" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Actions:</h6>
            <a class="collapse-item" href="/safebusiness/action/new">New Action</a>
            <a class="collapse-item" href="/safebusiness/listActions">View Actions</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAct" aria-expanded="true" aria-controls="collapseAct">
          <i class="fas fa-fw fa-cog"></i>
          <span>Manage Acts</span>
        </a>
        <div id="collapseAct" class="collapse" aria-labelledby="collapseAct" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Acts:</h6>
            <a class="collapse-item" href="/safebusiness/act/new">New Act</a>
            <a class="collapse-item" href="/safebusiness/listActs">View Acts</a>
          </div>
        </div>
      </li>
      
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>

    <!-- End of Sidebar -->
	<!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  
   <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>
  
</div>