<body class id="page-top">
	<div id="wrapper">
	
		<!-- Sidebar -->
		<div th:insert="fragments/sidebar.html :: sidebar"></div>
		
		<!-- Content goes here -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<div th:insert="fragments/header.html :: header"></div>
				<div class="container-fluid">
					<h4 th:if="${inViewMode} == true"><span th:utext="${act.name}"></span></h4>
					<h4 th:unless="${inViewMode} == true">New Act</h4>
					<div>	
						<form action="#" th:action="@{/safebusiness/addAct/{string}(string=${act.stringId} == null ? 'new' : ${act.stringId})}" th:object="${act}" method="post" id="sb-new-act">
							<div class="form-row">
								<div class="form-group col-sm-6">
									<label for="name">Act Name:</label>
									<input type="text" th:field="*{name}" placeholder="Act Name" class="form-control" />
								</div>
							</div>
							
							<div class="form-row">
								<div class="form-group col-sm-6">
									<label for="name">Add Sections:</label>
									<input type="text" th:field="*{sectionListString}" placeholder="Comma delimitted Section Names" class="form-control" />
								</div>
							</div>
								
							<div th:if="${inViewMode} == true">
								<h6>Sections:</h6>
								<div th:insert="fragments/listSections.html :: listsections"></div>
							</div>
							<br>
							<div class="form-row">
								<div>
								 <button id="sb-cancel" type="button" class="btn btn-danger">Cancel</button>
								  <button id="sb-submit" type="button" class="btn btn-success">Save</button>
								</div>
				
							</div>
						</form>
					</div>
				</div>
				
			</div>
			<!-- Footer -->
			<div th:insert="fragments/footer.html :: footer"></div>
		</div>
		
	</div>
	<script type="text/javascript">
		$('#sb-submit').click( function() {
			$('#sb-new-act').submit();
		});
		$('#sb-cancel').click(function(){
			window.location.href='/safebusiness/index';
		});
	</script>
	
	
</body>