<body class id="page-top">
	<div id="wrapper">
	
		<!-- Sidebar -->
		<div th:insert="fragments/sidebar.html :: sidebar"></div>
		
		<!-- Content goes here -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<div th:insert="fragments/header.html :: header"></div>
				<div class="container-fluid">
					<h4 th:if="${inViewMode} == true"><span th:utext="${action.id}"></span></h4>
					<h4 th:unless="${inViewMode} == true">New Attribute</h4>
					<div>
						
						<form action="#" th:action="@{/safebusiness/addAction/{string}(string=${action.stringId} == null ? 'new' : ${action.stringId})}" th:object="${actoin}" method="post" id="sb-new-action">
							<div class="form-row">
								<div class="form-group col-sm-6">
									<label for="number">Action Name:</label>
									
									<input type="text" th:field="*{stringId}" placeholder="Section Name" class="form-control" />
								</div>
							</div>
							
							<!-- During creation of the Attribute, we can't add attribute -->
							<!-- Should apply while in view mode -->
							<div th:if="${inViewMode} == true" class="form-row">
							<!--  -->
								<label for="value">Provide <span th:utext="${action.name}"></span></label>
								<input type="text" th:field="*{text}" placeholder="Value" class="form-control" />
								<br/>
							</div>
							</div>
							<div class="form-row">
								<div>
								  <button type="button" class="btn btn-danger">Cancel</button>
								  <button id="sb-submit" type="button" class="btn btn-success">Save</button>
								</div>
					
							</div>
						</form>
						
					</div>
				</div>
			</div>
			<!-- Footer -->
			<div th:insert="fragments/footer.html :: footer"></div>
		</div>
		
	</div>
	<script type="text/javascript">
		$('#sb-submit').click( function() {
			$('#sb-new-attribute').submit();
		});
	</script>
	
	
</body>