<head>
	<title>New Document</title>
</head>
<body id="page-top">

	<div id="wrapper">
	
		<!-- Sidebar -->
		<div th:insert="fragments/sidebar.html :: sidebar"></div>
		
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<div th:insert="fragments/header.html :: header"></div>
				<div class="container-fluid">
					<h4>New Document</h4>
					<div>	
						<form action="#" th:action="@{/safebusiness/addDocument}" th:object="${document}" method="post" id="sb-new-document">
							<input type="hidden" name="documentId" value="new">
							<input type="hidden" name="process-name" th:value="${document.processName}">
							<div class="form-row">
								<div class="form-group col-sm-6">
									<label for="">Document Name:</label>	
									<input type="text" th:field="*{name}" placeholder="Name" class="form-control" required/>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-sm-6">
									<label for="">Process:</label>
									<select th:field="*{processName}" class="form-control" required>
										<option th:each="process : ${processes}" th:value="${process.processName}" th:text="${process.processName}" ></option>
									</select>
								</div>
							</div>
							
							</div>
							<div class="form-row">
								<div>
								  <button id="sb-cancel" type="button" class="btn btn-danger">Cancel</button>
								  <button id="sb-submit" type="button" class="btn btn-success">Save</button>
								</div>
					
							</div>
						</form>
						
					</div>
				</div>
				<div th:insert="fragments/footer.html :: footer"></div>
			</div>
			
		</div>
		
	</div>
	<script type="text/javascript">
		$('#sb-submit').click( function() {
			$('#sb-new-document').submit();
		});
		$('#sb-cancel').click(function(){
			window.location.href='/safebusiness/index';
		});
	</script>
</body>