<body class id="page-top">
	<div id="wrapper">
	
		<!-- Sidebar -->
		<div th:insert="fragments/sidebar.html :: sidebar"></div>
		
		<!-- Content goes here -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<div th:insert="fragments/header.html :: header"></div>
				<div class="container-fluid">
					<h4 th:if="${inViewMode} == true"><span th:utext="${process.processName}"></span></h4>
					<h4 th:unless="${inViewMode} == true">New Process</h4>
					<div>	
						<form action="#" th:action="@{/safebusiness/addProcess/{string}(string=${process.stringId} == null ? 'new' : ${process.stringId})}" th:object="${process}" method="post" id="sb-new-process">
							<div class="form-row">
								<div class="form-group col-sm-6">
									<label for="name">Process Name:</label>
									<input type="text" th:field="*{processName}" placeholder="Process Name" class="form-control" />
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-sm-6">
									<label for="name">Add Procedures:</label>
									<input type="text" th:field="*{procedureNames}" placeholder="Comma delimited Procedure Names" class="form-control" />
								</div>
							</div>
								
							<div th:if="${inViewMode} == true">
								<hr>
								<h6>Procedures:</h6>
								<div th:insert="fragments/listProcedures.html :: listProcedures"></div>
							</div>
							<br>
							<div class="form-row">
								<div>
								  <button id="sb-cancel" type="button" class="btn btn-danger">Cancel</button>
								  <button id="sb-submit" type="button" class="btn btn-success">Save</button>
								</div>
				
							</div>
						</form>
					</div>
				</div>
				
			</div>
			<!-- Footer -->
			<div th:insert="fragments/footer.html :: footer"></div>
		</div>
		
	</div>
	<script type="text/javascript">
		$('#sb-submit').click( function() {
			$('#sb-new-process').submit();
		});
		$('#sb-cancel').click(function(){
			window.location.href='/safebusiness/index';
		});
	</script>
	
	
</body>