<body class id="page-top">
	<div id="wrapper">
	
		<!-- Sidebar -->
		<div th:insert="fragments/sidebar.html :: sidebar"></div>
		
		<!-- Content goes here -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<div th:insert="fragments/header.html :: header"></div>
				<div class="container-fluid">
					<h4 th:if="${inViewMode} == true">Section Name : <span th:utext="${section.name}"></span></h4>
					<h4 th:unless="${inViewMode} == true">New Section</h4>
					<div th:insert="fragments/newSection.html :: newSection"></div>
				</div>
			</div>
			<!-- Footer -->
			<div th:insert="fragments/footer.html :: footer"></div>
		</div>
		
	</div>
	
	
</body>